/* removing the default margin and padding  */

html, body, *, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h5{
    font-size:18px;
    line-height:27px;
    margin:10px 0px;
    text-transform: capitalize;

}
/* header */
#title{
    height:fit-content;
    position: fixed;
    padding:8px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}
#title .header-menu{
    display: none;
} 
#title #title-content{
    display: flex;
    justify-content:flex-end;
    align-items: center;
}
#title div{
    padding:0 16px;
}
#title span{
    line-height:27px;
}
/* container that hold both nav-bar andmain */
#divider{
    width:100%;
    display: flex;
}
/* navigation bar */
#nav-bar{
    width:25%;
    height:fit-content;
    position: fixed;
    top:30px;
    left: 0;
}

#user{
    width:100%;
    display: flex;
    align-items: center;
    padding:20px 16px;
}
.img-container{
    width:20%;
    
}
.img-container img{
    max-width: 100%;
    height:auto;
    border-radius: 50%;
}
#user #user-id{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    gap:10px;
    width:70%;
}
#user-id #user-icons{
    width:50%;
    display: flex;
    justify-content: space-between;
    align-items: center;   
}
/* nav-links */
#nav-links{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    width: 100%;
    padding:8px 0 15px 0;
}
#nav-links div{
    margin:5px 16px;
} 
#nav-links h5{
    margin:0 0 5px 0;
}
#nav-links a{
    width:100%;
    line-height:22.5px;
    padding:10px 16px;
    text-align:left;
    display: flex;
    align-items: center;
    gap:5px;
    text-decoration: none;
    text-transform: capitalize;
}
#main-footer-content{
    width:75%;
    margin-left:25%; 
    margin-top: 30px;
    padding-top:20px;
}
main{
    width:100%;
}
#dashboard,#news,#statistics,#countries,#recent-user,#recent-comments{
    width:100%;
    padding:0.15px 16px;
}
#dashboard header{
    padding:20px 0 0 0 ;
    display: flex;
    justify-content:baseline;
    align-items:baseline;
}
#dashboard header h5{
    margin:0;
}
#dashboard i{
    margin-right: 5px ;
}
#dashboard-cards{
    width:100%;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    width:24%;
    height:fit-content;
    border:1px solid transparent;
    padding:15px 5px;
    margin:10px 0;
    
}
.card .numbers{
    display: flex;
    justify-content: space-between;
    gap:15px;
    align-items: center;
}
.card h4{
    margin:15px 0;
    text-transform: capitalize;
}
/* styling the container holds the region and feeds */
#news{
    display: flex;
    justify-content: space-between;
}
#news h5{
    line-height:27px;
    margin:10px 0px;
}
/* region */
#region{
    width:34%;
}
#region div{
    width:100%;
}
#region  img{
    max-width:100%;
}
/* feed table */
#feeds{
    width:64%;
}
table,tr{
    width:100%;
    border-collapse: collapse;
}
td i{
    padding:6px 6px 6px 12px;
    text-align:left;
}
td{
    padding:6px;
    border:none;
}
tr .col-1{
    width:10%;
}
tr .col-2{
    width:65%;
}
tr .col-3{
    width:25%;
}
/* statistics with their rates  */
#stats-numbers{
    width:100%;
    line-height: 27px;
    display: inline-flex;
    margin-bottom:10px;
    flex-direction: column;
    flex-wrap: nowrap;
    gap:10px;
}
#stats-numbers .rate{
    width:100%;
}
.rate .percent{
    padding:5px 16px;
    text-align:center;
}
.percent.top{
    width:25%;
}
.percent.middle{
    width:50%;
}
.percent.last{
    width:75%;
}
/* country table */
#countries .country-data td{
    padding:10px;
}
/* countries button */
button{
    width:20%;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-transform: capitalize;
    margin:20px 0;
    border:1px solid transparent;
}
/* recent-user */
#recent-user div{
    margin-bottom: 26px;
    width:100%;
}
#recent-user li{
    display: flex;
    gap:20px;
    line-height:22.5px;
    padding:16px 24px;
    text-align:left;
    
}
li img{
    border-radius: 50%;
}
li span{
    margin:5px 0;
    text-transform: capitalize;
}
#recent-user .img-container{
    width:10%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    
}
/* recent comments */
#comments{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap:30px;
    padding:0 0 30px 0;
}
#comments .user{
    display: flex;
    gap:10px;
    width:100%;
}
.user .img-container{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user:last-of-type .img-container{
    width:12.5%;
}
.user .text{
    line-height:22.5px;
    padding:2px 16px;
}
.text h4{
    line-height: 25px;
    margin: 15px 0;
}
/* styling the menu with demographic ,system and target */
#menu{
    width:100%;
    padding:32px 16px;    
}
#menu .container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}
.container div{
    width:32%;
    line-height:22.5px;
    padding:0.15px 16px;
}
.container h5{
    padding:5px;
}
.container div p{
    margin:15px 0px;
    text-transform: capitalize;
}
/* styling the footer */
footer{
    padding:20px;
    line-height: 30px;
}
footer h4{
    font-size:20px;
    line-height:30px;
    margin:10px 0px;
}

/* media queries */

/* responsive design on different screen devices */
/* smaller devices likw mobile phones */
@media screen and (max-width:600px){
    body{
        width:100%
    }
    #title{
        width:100%;
    }
    #title .header-menu{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:5px;
    } 
    #title #title-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav-bar{
        display:none;
    }
    #main-footer-content{
        margin-left:0%;
        width:100%;
    }
    #dashboard-cards{
        flex-direction: column;
    }
    .card{
        width:100%;
        margin:0;
    }
    #news{
        flex-direction: column;
    }
    #region ,#feeds{
        width:100%;
    }
    tr .col-1{
        width:25%;
    }
    tr .col-2{
        width:50%;
    }
    button{
        width:40%;
    }
    #comments .user{
        flex-direction: column;
    }
    .user:last-of-type .img-container{
        width:20%;
    }
    #menu .container{
        flex-direction: column;
    }
    .container div{
        width:100%;
    }
}
/* screen like tablets and not greater than 999 */
@media (min-width: 601px) and (max-width: 992px){
    body{
        width:100%;
    }
    #title{
        width:100%;
    }
    #title .header-menu{
        display:flex;
        justify-content: space-between;
        align-items: center;
        gap:5px;
    } 
    #title #title-content{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    #nav-bar{
        display:none
    }
    #main-footer-content{
        margin-left:0%;
        width:100%;
        position: relative;
        transform: translateX(100%);
        animation: main 0.2s ease forwards;
    }
    button{
        width:25%;
    }
    .rate .percent{
        padding:8px 16px;
    }
    .card,
    #feeds table, 
    #stats-numbers .rate,
    #stats-numbers p,
    .country-data,
    #recent-comments #comments,
    .container{
        transform: translateX(30px);
        animation: slides 0.5s ease forwards;

    }
    .card-red,#region div{
        transform:translateY(20px);
        animation: fade 0.6s ease-in forwards;
    }
    @keyframes main {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(0); 
        }
    }
    @keyframes slides {
        0% {
          transform: translateX(30px);
        }
        100% {
          transform: translateX(0);
        }
    }
    @keyframes fade {
        0% {
          transform: translateY(20px);
        }
        100% {
          transform: translateY(0);
        }
    }
}
/* larger screen kike desktop and laptop */
@media (min-width: 993px) and (max-width:1440px){
    button{
        width:25%;
    }
    #nav-bar{
    
        transform: translateX(-100%);
        animation: slide-in 0.5s ease forwards;
    }
    @keyframes slide-in {
    
        0% {
            transform: translateX(-100%); 
        }
    
        100% {
          transform: translateX(0);
        }
    }
}


