*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
/* Basic reset */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
  }
  
  body{
    background-color: #000;
    color: #fff;
}
  /* Hero Section */
  .hero {
    position: relative;
    height: 100vh;
    /* background-image: url('https://via.placeholder.com/1920x1080');  */
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }
  
  .hero .cta-button {
    padding: 15px 30px;
    background-color: #ff6600;
    color: white;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
  }
  
  .hero .cta-button:hover {
    background-color: #e65c00;
  }
  